aside.sidebar
  &
    +position(fixed, 0 null null 0)
    text-align: center
    width: 300px
    background: $bg-color
    min-height: 100%
    max-height: 100%
    z-index: $z-level2
    overflow: auto

    @media (min-width: 1001px) and (max-width: 1220px)
      width: 90px

    @media (max-width: 1000px)
      +position(fixed, auto 0 0 auto )
      +size(100% 60px)
      min-height: initial
      z-index: $z-level3

    .work-return, .blog-return
      display: none
      text-indent: 0
      +position(absolute, auto auto auto 0)
      +size(33.33% 60px)
      line-height: 60px
      font-size: 14px
      box-shadow: none
      border-left: 1px solid #333
      background: $bg-color-light
      z-index: $z-level3

      &.blog-return
        left: 33.3333% !important

      &.work-return
        left: 66.6666% !important

      svg
        +size(20px)
        line-height: 60px
        display: inline-block
        vertical-align: middle !important
        margin-right: 5px

      @media (min-width: 1001px)
        display: none !important

    .side-bar-wrapper
      +position(absolute, 0 0 null null)
      +size(100%)
      min-height: 560px
      @media (min-width: 1001px) and (max-width: 1220px)
        min-height: 500px
        & > .lang-switcher
          display: none
      @media (max-width: 1000px)
        min-height: initial

  .profile-card
    @media (max-width: 1000px)
      display: none

    a
      color: transparent

    img
      max-width: 100%
      @media (min-width: 1220px)
        border-radius: 50%

    .slogan
      @media (max-width: 1220px)
        display: none

    .title
      color: #9f9f9f

    .subtitle
      color: $menu-text-color
      color: #666

      span
        color: #9f9f9f
        padding: 0 1px

    #info
      width: 100%
      position: absolute
      bottom: 60px
      left: 0

  nav
    &
      background: $bg-color
      width: 100%

    &.disabled .item:not(.active)
      cursor: default !important
      color: $menu-text-color !important

    &.fixed
      +position(fixed, 0 null null 0)

    .item
      &
        display: block
        padding: 0
        height: 58px
        line-height: 58px
        font-size: 14px
        color: $menu-text-color
        cursor: pointer
        position: relative
        text-decoration: none
        +transition(all .2s)

        &:first-child:before, &:after
          content: ''
          +position(absolute, null null 0 0)
          +size(100% 1px)
          background: $bg-color-light

        &:first-child:before
          +position(absolute, 0 null auto  0)

        @media (min-width: 1001px) and (max-width: 1220px)
          font-size: 13px
          height: 52px
          line-height: 52px

        @media (max-width: 1000px)
          +size(33.3333% 60px)
          line-height: 60px
          font-family: $bold
          padding: 0
          float: left
          border-left: 1px solid #333
          border-bottom: 0

          &:nth-child(2)
            border-left: 0

          &[href="#about"]
            +position(absolute, 0 null null 0)
          &[href="#blog"]
            +position(absolute, 0 null null 33.3333%)
          &[href="#portfolio"]
            +position(absolute, 0 null null 66.6666%)

          &[href="#experience"], &[href="#contact"]
            display: none

        &.large-hidden
          @media (min-width: 1001px)
            display: none


        &.active
          @include transition(background .1s .3s)
          background: $bg-color-light
          color: $menu-active-text-color
          cursor: default !important

          @media (max-width: 1000px)
            color: #ccc

        &.first-loaded
          background: $bg-color-light !important
          color: $menu-active-text-color !important
          cursor: default !important

        &:not(.active):hover
          color: $menu-active-text-color


  .sidebar-footer
    +position(absolute, null null 0 0)
    width: 100%

    .lang-switcher
      line-height: 40px
      height: 40px
      display: inline-block

      @media (min-width: 1220px)
        display: none

    @media (min-width: 1001px) and (max-width: 1220px)
      height: 160px

    .copyright
      width: 100%
      font-weight: 400
      opacity: .85

      @media (max-width: 1220px)
        display: none

      a
        display: inline-block
        color: #888
        border-bottom: 1px solid $bg-color

        &:hover
          color: #ccc


    .contacts

      &
        +position(relative, null null 5px null)
        width: 100%
        text-align: center

        @media (min-width: 1001px) and (max-width: 1220px)
          bottom: 0

        @media (max-width: 1000px)
          display: none

      .contact-link
        position: relative
        display: inline-block
        +size(32px)
        margin: 0 2px
        background: rgba(255, 255, 255, .07)
        border-radius: 50%

        &
          svg
            +position(absolute, 50%  null null 50%)
            +size(16px)
            margin: -8px auto auto -8px
            fill: #aaa

            &.icon-github
              +size(18px)
              margin: -9px auto auto -9px

            &.icon-linkedin
              +size(14px)
              margin: -7px auto auto -7px

          &:hover
            background: rgba(255, 255, 255, .15)
            svg
              fill: #fff




        @media (min-width: 1001px) and (max-width: 1220px)
          +size(90px 40px)
          padding: 8px
          border-radius: 0
          background: none
          margin: 0

          &:first-child
            display: none


