nav {
  @include position(fixed, 30px null null -2px);
  padding-left: 32px;
  z-index: 10;
  overflow: hidden;
  opacity: 0;
  @include animation(nav-opacity 0.5s 1s ease-in-out forwards);
  .item {
    font-size: 14px !important;
    cursor: pointer;
    box-shadow: none !important;
    &:last-child:before {
      display: none;
    }
  }
}

// Menu appear animation
@include keyframes(nav-opacity) {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


.ui.menu {
  margin: 1rem 0rem;
  background: #ffffff;
  font-size: 0px;
  font-weight: normal;
  box-shadow: 0px 0px 0px 1px rgba(39, 41, 43, 0.31),0px 1px 2px 0 rgba(0, 0, 0, 0.12);
  border-radius: 0.2857rem;
}
.ui.menu:after {
  content: '';
  display: block;
  height: 0px;
  clear: both;
  visibility: hidden;
}
.ui.menu:first-child {
  margin-top: 0rem;
}
.ui.menu:last-child {
  margin-bottom: 0rem;
}

/*--------------
     Colors
---------------*/


/* Text Color */
.ui.menu .item {
  color: rgba(0, 0, 0, 0.8);
}
.ui.menu .item .item {
  color: rgba(0, 0, 0, 0.5);
}

/* Hover */
.ui.menu .item .menu a.item:hover,
.ui.menu .item .menu .link.item:hover {
  color: rgba(0, 0, 0, 0.85);
}

/*--------------
      Items
---------------*/

.ui.menu .item {
  position: relative;
  display: inline-block;
  padding: 0.78571em 0.95em;
  border-top: 0em solid transparent;
  background: none;
  vertical-align: middle;
  line-height: 1;
  text-decoration: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  -webkit-transition: opacity 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
          transition: opacity 0.2s ease, background 0.2s ease, box-shadow 0.2s ease;
}
.ui.menu .menu {
  margin: 0em;
}

/* Floated Content */
.ui.menu > .item:first-child {
  border-radius: 0.2857rem 0px 0px 0.2857rem;
}
.ui.menu:not(.vertical) .item.left,
.ui.menu:not(.vertical) .menu.left {
  float: left;
}
.ui.menu:not(.vertical) .item.right,
.ui.menu:not(.vertical) .menu.right {
  float: right;
}

/*--------------
    Borders
---------------*/

.ui.menu .item:before {
  position: absolute;
  content: '';
  top: 0%;
  right: 0px;
  width: 1px;
  height: 100%;
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.05) 100%);
  background: linear-gradient(rgba(0, 0, 0, 0.05) 0%, rgba(0, 0, 0, 0.1) 50%, rgba(0, 0, 0, 0.05) 100%);
}
.ui.menu > .right.menu:first-child {
  display: none;
}
.ui.menu .menu.right .item:before,
.ui.menu .item.right:before {
  right: auto;
  left: 0px;
}

/*--------------
  Text Content
---------------*/

.ui.menu .text.item > *,
.ui.menu .item > a:not(.ui),
.ui.menu .item > p:only-child {
  -webkit-user-select: text;
     -moz-user-select: text;
      -ms-user-select: text;
          user-select: text;
  line-height: 1.3;
  color: rgba(0, 0, 0, 0.8);
}
.ui.menu .item > p:first-child {
  margin-top: 0;
}
.ui.menu .item > p:last-child {
  margin-bottom: 0;
}

/*--------------
      Icons
---------------*/

.ui.menu .item > i.icon {
  opacity: 0.75;
  float: none;
  margin: 0em 0.25em 0em 0em;
}
.ui.menu .item > i.dropdown.icon {
  float: right;
  margin-left: 1em;
}

/*--------------
     Button
---------------*/

.ui.menu:not(.vertical) .item > .button {
  position: relative;
  top: -0.05em;
  margin: -0.55em 0;
  padding-bottom: 0.55em;
  padding-top: 0.55em;
  font-size: 0.875em;
}



/*--------------
      Hover
---------------*/

.ui.link.menu > .item:hover,
.ui.menu > .link.item:hover,
.ui.menu > a.item:hover,
.ui.link.menu .menu > .item:hover,
.ui.menu .menu > .link.item:hover,
.ui.menu .menu > a.item:hover {
  cursor: pointer;
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.8);
}

/*--------------
     Pressed
---------------*/

.ui.link.menu .item:active,
.ui.menu .link.item:active,
.ui.menu a.item:active {
  background: rgba(0, 0, 0, 0.03);
  color: rgba(0, 0, 0, 0.8);
}

/*--------------
     Active
---------------*/

.ui.menu .active.item {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  box-shadow: 0em 2px 0em inset;
}
.ui.menu .active.item > i.icon {
  opacity: 1;
}

/* Vertical */
.ui.vertical.menu .active.item {
  background: rgba(0, 0, 0, 0.03);
  border-radius: 0em;
  box-shadow: 2px 0em 0em inset;
}
.ui.vertical.menu > .active.item:first-child {
  border-radius: 0em 0.2857rem 0em 0em;
}
.ui.vertical.menu > .active.item:last-child {
  border-radius: 0em 0em 0.2857rem 0em;
}
.ui.vertical.menu > .active.item:only-child {
  border-radius: 0em 0.2857rem 0.2857rem 0em;
}
.ui.vertical.menu .active.item .menu .active.item {
  border-left: none;
}
.ui.vertical.menu .item .menu .active.item {
  background-color: transparent;
  box-shadow: none;
}

/*--------------
  Active Hover
---------------*/

.ui.vertical.menu .active.item:hover,
.ui.menu .active.item:hover {
  background-color: rgba(0, 0, 0, 0.03);
}

/*--------------
     Disabled
---------------*/

.ui.menu .item.disabled,
.ui.menu .item.disabled:hover {
  cursor: default;
  color: rgba(40, 40, 40, 0.3);
  background-color: transparent !important;
}


/*******************************
             Types
*******************************/

/*--------------
    Inverted
---------------*/

.ui.inverted.menu {
  background: #1b1c1d;
  box-shadow: none;
}
.ui.inverted.menu .header.item {
  margin: 0em;
  background: rgba(0, 0, 0, 0.3);
  box-shadow: none;
}
.ui.inverted.menu .item,
.ui.inverted.menu .item > a:not(.ui) {
  color: #ffffff;
}
.ui.inverted.menu .item:not(.dropdown).menu {
  background: transparent;
}
.ui.inverted.menu .item .item,
.ui.inverted.menu .item .item > a:not(.ui) {
  color: rgba(255, 255, 255, 0.5);
}
.ui.inverted.menu .dropdown .menu .item {
  color: rgba(0, 0, 0, 0.8) !important;
}
.ui.inverted.menu .item.disabled,
.ui.inverted.menu .item.disabled:hover {
  color: rgba(225, 225, 225, 0.3);
}

/*--- Border ---*/

.ui.inverted.menu .item:before {
  background: -webkit-linear-gradient(rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.03) 100%);
  background: linear-gradient(rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.03) 100%);
}
.ui.vertical.inverted.menu .item:before {
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.03) 100%);
  background: linear-gradient(to right, rgba(255, 255, 255, 0.03) 0%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.03) 100%);
}

/*--- Hover ---*/

.ui.link.inverted.menu .item:hover,
.ui.inverted.menu .link.item:hover,
.ui.inverted.menu a.item:hover,
.ui.inverted.menu .dropdown.item:hover {
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}
.ui.inverted.menu .item .menu a.item:hover,
.ui.inverted.menu .item .menu .link.item:hover {
  background: transparent;
  color: #ffffff;
}

/*--- Pressed ---*/

.ui.inverted.menu a.item:active,
.ui.inverted.menu .dropdown.item:active,
.ui.inverted.menu .link.item:active,
.ui.inverted.menu a.item:active {
  background: rgba(255, 255, 255, 0.15);
  color: #ffffff;
}

/*--- Active ---*/

.ui.inverted.menu .active.item {
  box-shadow: none !important;
  background: rgba(255, 255, 255, 0.2);
  color: #ffffff !important;
}
.ui.inverted.vertical.menu .item .menu .active.item {
  background: transparent;
  color: #ffffff;
}


/*--------------
   Borderless
---------------*/

.ui.borderless.menu .item:before,
.ui.borderless.menu .item .menu .item:before,
.ui.menu .borderless.item:before {
  background: none !important;
}




