/*  Sections
  ------------------------------------  */
.sections-container
  position: relative
  margin-left: 320px
  +perspective(1200px)
  background-image: url(../img/exp-bg.png)

.full-screen-block
  // +position(absolute, 0 null null 0)
  +size(100%)
  // +transform(translate3d(0, 0, 0))
  // +transform-style(preserve-3d)
  // +backface-visibility(hidden)

  // &[data-move='from-top']
  //   +animation(move-from-top .8s ease both)

  // &[data-move='from-bot']
  //   +animation(move-from-bot .8s ease both)

  // &[data-move='to-top']
  //   +animation(move-to-top .8s ease both)

  // &[data-move='to-bot']
  //   +animation(move-to-bot .8s ease both)

.container
  +box-sizing(border-box)
  max-width: 920px
  padding: 0 40px
  margin: 0 auto

/*  Typography presets
  ------------------------------------  */

.section-title
  padding: 50px 0 14px
  font-size: 54px
  line-height: 68px
  margin-bottom: 34px
  color: #252527
  text-align: left
  border-bottom: 1px solid #aaa
  margin-bottom: 50px


.gigantic, .huge, .large, .bigger, .big, h1, h2, h3, h4, h5, h6
  color: $headlineColor
  font-weight: bold

.gigantic
  font-size: 110px
  line-height: 1.09
  letter-spacing: -2px

.huge, h1
  font-size: 68px
  line-height: 1.05
  letter-spacing: -1px

.large, h2
  font-size: 42px
  line-height: 1.14

.bigger, h3
  font-size: 26px
  line-height: 1.38

.big, h4
  font-size: 22px
  line-height: 1.38

.small, small
  font-size: 10px
  line-height: 1.2

p
  margin: 0 0 20px 0

em
  font-style: italic

strong
  font-weight: bold

hr
  border: solid #ddd
  border-width: 1px 0 0
  clear: both
  margin: 10px 0 30px
  height: 0

section
  position: relative



/* Links
  ------------------------------------	*/
a
  color: $linkColor
  text-decoration: none
  outline: 0

a:hover, a:focus
  color: lighten($linkColor, 20%)

.const-button
  cursor: pointer
  display: inline-block
  position: relative
  border-radius: 3px
  line-height: 22px
  font:
    size: 22px
    weight: 300
  color: #ccc
  background: #252527
  box-shadow: rgba(0,0,0,0.22745) 0px 3px 10px 0px, rgba(0,0,0,0.15686) 0px 3px 10px 0px
  +user-select(none)
  +transition(color .2s ease, background .2s ease)

  &:hover
    color: #fff
    background: #343435


/* Selection colors (easy to forget)
  ------------------------------------	*/

::selection
  background: $selectionColor
  color: $accent

::-moz-selection
  background: $selectionColor
  color: $accent

img::selection
  background: transparent

img::-moz-selection
  background: transparent

body
  -webkit-tap-highlight-color: $selectionColor


/* Preloader
  ------------------------------------  */
#preloader
  +position(fixed, 0 0 0 0)
  background-color: #fff
  z-index: 99


#status
  +size(70px 24px)
  +position(absolute, 50% null null 50%)
  margin: -12px 0 0 -35px /* is width and height divided by two */


/* Basic Styles
  ------------------------------------	*/
html
  // overflow: hidden

body, html
  height: 100%
  overflow: hidden

body
  height: 100%
  // overflow: hidden
  background-color: #fff
  font-size: 14px
  line-height: 1.6
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif
  color: $textColor

a.mock-link-for-new-tabs
  +size(0)
  visibility: hidden

@mixin center-trans($asix: "both")
  position: absolute
  @if $asix == "hor"
    left: 50%
    -ms-transform: translate(-50px,0)
    -webkit-transform: translate(-50px,0)
    transform: translate(-50px,0)
  @if $asix == "vert"
    top: 50%
    -ms-transform: translate(0,-50px)
    -webkit-transform: translate(0,-50px)
    transform: translate(0,-50px)
  @if $asix == "both"
    top: 50%
    left: 50%
    -ms-transform: translate(-50%, -50%)
    -webkit-transform: translate(-50%, -50%)
    transform: translate(-50%, -50%)
.splash-center
  +center-trans

svg
  +size(100%)

h3
  // @extend %small-bold
  color: $accent-light
  text-align: center
  padding: 70px 0 30px

@media screen and (max-width: 480px)
  h3
    padding: 50px 0 50px
    color: rgba(147, 147, 147, 1)