@mixin ui-reset
  button, input[type="submit"], select
    background: none
    border: none
    outline: none
    &:active
      outline: none
  input:focus
    outline: none
  select:-moz-focusring
    color: transparent
    text-shadow: 0 0 0 #000

+ui-reset

%small-bold
  font:
    size: 28px
    weight: 700
  text-transform: uppercase

%background-image
  background:
    repeat: no-repeat, no-repeat
    size: 338px 51px, cover
    position: 30px 50px, 50% 50%
    blend-mode: normal, normal