<section class="section-clients full-screen-block">


  <div class="clients-mobile-nav">
    {% for client in site.data.settings.clients %}
    <span></span>
    {% endfor %}
  </div>





  <div class="clients-belt">

    <div class="clients-logos">
      {% for client in site.data.settings.clients %}
        <div class="client-logo waves-effect waves-button">
          <span>{{ client.logo }} </span>
        </div>
      {% endfor %}
    </div>

    {% for client in site.data.settings.clients %}
    <div class="client-unit">

      <div class="client-face">
        <div class="wrap">
          {{ client.content }}
        </div>
      </div>

      <div class="client-content">
        <div class="client-quote-mark">
          {% include icons/icon-quote-mark.html %}
        </div>
        {{ client.quote }}
      </div>

    </div>
    {% endfor %}

  </div>

</section>