<section class="alt-section section-contact">

  <h3 id="contact">Contact</h3>


  <div class="social-links">
    {% for link in site.data.settings.social %}
    <a href="{{ link.link }}" class="waves-effect waves-button icon-{{ link.icon }}" target="_blank">
      <span>{{ link.icon }}</span>
    </a>
    {% endfor %}
  </div>

  <hr class="bar">

  <div class="kicker">feel free to mail me</div>

  <a class="biglink" href="mailto:{{ site.data.settings.email }}">Сonst.Int.Naumov@Gmail.com</a>

</section>