<section class="section-about full-screen-block section-active" id="about">

  <div class="container">

    <div class="profile-card">
      <img id="large-ava" data-src="assets/img/pictures/constavatar_wide.jpg" alt="">
    </div>

    <h1 class="section-title">{{ site.data.settings.section-titles.about }}</h1>


    <div class="blurb">
      {{ site.data.settings.blurb | markdownify }}
    </div>

    <div class="skill-lockup">

      {% for skill in site.data.settings.skills %}

        <div class="skill-unit" >
          <div class="skill-icon">
            <svg viewBox="0 0 100 100" class='{{ skill.icon }}'>
              <use xlink:href="#{{ skill.icon }}" xmlns:xlink="http://www.w3.org/1999/xlink" ></use>
            </svg>
          </div>
          <div class="skill-label">{{ skill.name }}</div>
          <div class="skill-desc"> {{ skill.desc }}</div>
          <div class="skill-meter">
            <div class="meter"><span data-skill="{{ skill.value }}"></span></div>
          </div>
        </div>

      {% endfor %}

    </div>

    <div class="blurb2">
      {{ site.data.settings.blurb2 | markdownify }}
    </div>

    <a href="mailto:{{site.data.settings.email}}" class="const-button contact-large-button">
      <span>...let’s get in touch!</span>
      <svg viewBox="0 0 25 25">
        <use xlink:href="#icon-envelope-opened" xmlns:xlink="http://www.w3.org/1999/xlink" ></use>
      </svg>
    </a>

  </div>

</section>
