<section class="section-blog full-screen-block" id="blog">


  <div class="blog-belt">


    <div class="preview-container">

      <div class="preview-container-shift">

        <div class="poster"></div>

        <div class="container">

          <div id="blog-posts"
            data-pager-number="{{ site.paginate }}"
            data-total-number="{{ site.posts | size }}">

            <h1 class="section-title post-list-title">{{ site.data.settings.section-titles.blog }}</h1>

            <div class="post-section">
              {% for post in paginator.posts %}

                <div class="post-preview">
                  <img src="{{ post.ava }}" width="120" height="120" alt="" class="ava">
                  <h2 class="post-name">{{ post.title }}</h2>
                  <span class="post-meta">
                    {{ post.date | date: "%B %-d, %Y" }} &nbsp;&nbsp; #{{ post.categories }}
                  </span>
                  <div class="post-excerpt">
                    {{ post.excerpt | remove: '<p>' | remove: '</p>' }}...&nbsp;&nbsp;
                    <span class="post-link intext-link"
                       data-poster="{{ post.poster }}"
                       data-url="{{ post.url }}"
                       data-name="{{ post.title }}" >
                      Read this post →
                    </span>
                  </div>
                </div>

              {% endfor %}
            </div>

          </div>

          <div id="ccc" hidden></div>

        </div>

      </div>

    </div>

    <div class="post-container">
      <div class="post-poster"></div>
      <div class="container">
         <h4 class="post-title section-title">
           <span class="blog-return const-button icon-button">
             <svg viewBox="0 0 20 20">
                 <use xlink:href="#icon-backward"></use>
             </svg>
           </span><!--
        --><span class="title-text"></span>
         </h4>

         <div class="post-content">
            <!-- Post content goes here -->
         </div>
      </div>
  </div>
  </div>



</section>