<section class="section-contact full-screen-block" id="contact">

  <div class="container">
    <h1 class="section-title">{{ site.data.settings.section-titles.contact }}</h1>


      <div class="contact-text">
        {{ site.data.settings.contact | markdownify }}
      </div>

      <a href="mailto:{{site.data.settings.email}}" class="mailto-button contact-large-button const-button">
        Send email
        <svg xmlns="http://www.w3.org/2000/svg" width="768" height="768" viewBox="0 0 768 768">
          <path d="M703.68 256c0-23.040-12-43.040-30.080-54.4l-289.6-169.6-289.6 169.6c-18.080 11.36-30.4 31.36-30.4 54.4v320c0 35.36 28.64 64 64 64h512c35.36 0 64-28.64 64-64l-0.32-320zM384 416l-264.32-165.28 264.32-154.72 264.32 154.72-264.32 165.28z"></path>
        </svg>
      </a>

      <form class="awesome-form">

        <div class="input-group">
          <input type="text" id="client-name" name="name" required>
          <label>Your Full Name</label>
        </div>

        <div class="input-group">
          <input type="email" name="email" required>
          <label>Your Email Address</label>
        </div>

        <div class="input-group textarea-wrapper">
          <textarea name="" class="textarea" name="message" required></textarea>
          <label>Your Message</label>
        </div>


        <button type="submit" class="const-button contact-large-button">
          <span>Send the message</span>
          <svg xmlns="http://www.w3.org/2000/svg" width="768" height="768" viewBox="0 0 768 768">
            <path d="M703.68 256c0-23.040-12-43.040-30.080-54.4l-289.6-169.6-289.6 169.6c-18.080 11.36-30.4 31.36-30.4 54.4v320c0 35.36 28.64 64 64 64h512c35.36 0 64-28.64 64-64l-0.32-320zM384 416l-264.32-165.28 264.32-154.72 264.32 154.72-264.32 165.28z"></path>
          </svg>
        </button>
      </form>

  </div>

</section>