<section class="section-contact full-screen-block" id="contact">

  <div class="container">
    <div class="section-title">{{ site.data.settings.section-titles.contact }}</div>

      <form class="awesome-form">

        <div class="input-group">
          <input type="text" id="client-name" name="name" required>
          <label>Your Full Name</label>
        </div>

        <div class="spacer"></div>

        <div class="input-group">
          <input type="email" name="email" required>
          <label>Your Email Address</label>
        </div>

        <div class="spacer"></div>

        <div class="input-group">
          <textarea name="" class="textarea" name="message" required></textarea>
          <label>Your Message</label>
        </div>


        <div class="spacer"></div>

        <input type="submit" value="Send message" class="const-button">
      </form>

  </div>

</section>