<section class="section-expirience full-screen-block" id="experience">

    <div class="container">

        <!-- Heading -->
        <h1 class="section-title">{{ site.data.settings.section-titles.experience}}</h1>

        <!-- Animations -->
        <div class="exp-animation">
          <div class="wrap"></div>
        </div>

        <!-- Navigation -->
        <div class="exp-nav">
          <nav class="select-skill">
            {% for client in site.data.settings.clients %}
              {% if forloop.index == 1 %}
                <div  class="selected">
                  <div class="ripple-effect select-option selected-center checked"
                    data-file="{{ client.file }}"
                    data-text="{{ client.logo }}"
                    data-index="{{ forloop.index }}">
                    {{ client.logo }}
                  </div>
                </div>
              {% endif %}
            {% endfor %}

            <ul>
              {% for client in site.data.settings.clients %}
                {% if forloop.index > 1 %}
                  <li class=" select-option ripple-effect"
                    data-index="{{ forloop.index }}"
                    data-file="{{ client.file }}">
                    {{ client.logo }}
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
        </div>

        <!-- Text -->
        <div class="exp-unit-wrapper">
          {% for client in site.data.settings.clients %}
            <div class="exp-unit">
              <div class="exp-content">
                <p>
                  {{ client.quote }}
                </p>
              </div>
            </div>
          {% endfor %}
        </div>

    </div>

</section>