<section class="section-expirience full-screen-block">

  <div class="exp-nav">
    {% for client in site.data.settings.clients %}
      <div class="exp-tab">
        <span>{{ client.logo }} </span>
      </div>
    {% endfor %}
  </div>


  <div class="exp-belt">

    {% for client in site.data.settings.clients %}
    <div class="exp-unit">

      <div class="exp-animation">
        <div class="wrap">
          {{ client.content }}
        </div>
      </div>

      <div class="exp-content">
        <div class="icon-gear"></div>

        <div class='caption'>
          <strong>{{ client.title }}</strong>
        </div>

        <p>
          {{ client.quote }}
        </p>

      </div>

    </div>
    {% endfor %}

  </div>

</section>