<header id="header" class="full-screen-block sections-current">

    <div class="splash-center">
      <h1><span>{{ site.data.settings.title }}</span></h1>
      <p class="kicker">{{ site.data.settings.description }}</p>

      <div class="social-links">
        {% for link in site.data.settings.social %}
        <a href="{{ link.link }}" class="waves-effect waves-button icon-{{ link.icon }}" target="_blank">
          <span>{{ link.icon }}</span>
        </a>
        {% endfor %}
      </div>
    </div>

</header>
