<section class="section-work full-screen-block">

  <input type="radio" name="trigger" id="return" class="return" />

  <div class="work-belt">

    <div class="thumb-wrap">

      <div class="thumb-container">

        {% for project in site.data.settings.projects %}
          <input type="radio" name="trigger" class="trigger" id="{{ project.folder }}" />
        {% endfor %}

        {% for project in site.data.settings.projects %}
        <label for="{{ project.folder }}">
          <div class="thumb-unit">
            <div class="thumb-click-area"
              data-name='{{ project.name }}'
              data-folder="{{ project.folder }}">

              <img src="assets/img/work/{{project.folder}}/thumb.jpg" alt="{{ project.name }}">

              <div class="unit-info icon-arrow-right">

                <div class="unit-title">
                  {{ project.name }} <br/>
                  <a href="http://{{ project.url }}" class="live-url" target="_blank">{{ project.url }}</a>
                </div>

              </div>

            </div>
          </div>
        </label>
        {% endfor %}

        <label for="{{ project.folder }}">
          <div class="thumb-unit thumb-empty"></div>
        </label>

      </div>
    </div>

    <div class="work-wrap">
      <div class="work-container">
        <div class="loader work">
          <div class="bounce1"></div>
          <div class="bounce2"></div>
          <div class="bounce3"></div>
        </div>

        <label for="return">
          <div class="work-return"></div>
        </label>

        <h4 class="project-title"></h4>

        <div class="project-load"></div>

      </div>
    </div>
  </div>

</section>