<section class="section-work full-screen-block" id="portfolio">

  <input type="radio" name="trigger" id="return" class="return" />

  <div class="work-belt">

    <div class="thumb-wrap">

      <div class="thumb-wrap-shift">

        <div class="thumb-container">

          <div class="section-title">{{ site.data.settings.section-titles.portfolio }}</div>


          {% for project in site.data.settings.projects %}
            <input type="radio" name="trigger" class="trigger" id="{{ project.folder }}" />
          {% endfor %}

          {% for project in site.data.settings.projects %}
          <label for="{{ project.folder }}">
            <div class="thumb-unit">
              <div class="thumb-click-area"
                data-name='{{ project.name }}'
                data-folder="{{ project.folder }}">

                <div class="img-wrap">
                  <img src="assets/img/work/{{project.folder}}/thumb.jpg" alt="{{ project.name }}">
                </div>

                <div class="unit-title const-button">
                  {{ project.name }}
                  <!-- <a href="http://{{ project.url }}" class="live-url" target="_blank">{{ project.url }}</a> -->
                </div>

                <div class="icon-arrow-right"></div>

              </div>
            </div>
          </label>
          {% endfor %}
        </div>
      </div>
    </div>

    <div class="work-wrap">

      <div class="loader work">
        <div class="bounce1"></div>
        <div class="bounce2"></div>
        <div class="bounce3"></div>
      </div>


      <div class="work-container">

        <div class="work-center-container">
          <h4 class="project-title"></h4>
          <div class="project-load"></div>
        </div>

      </div>
    </div>
  </div>

</section>