.section-about
  position: relative
  overflow: auto
  z-index: 4

  .container
    @media (max-width: 1000px)
      padding-top: 0

  .profile-card
    text-align: center
    margin: 0 -20px
    padding: 0
    overflow: hidden
    max-height: 400px

    @media (min-width: 1001px)
      display: none

    img
      width: 100%
      display: block
      margin: 0 auto

.skill-lockup
  text-align: justify
  overflow: hidden

  &:before
    content: ''
    display: block
    width: 100%

  &:after
    content: ''
    width: 100%
    display: inline-block

  .skill-unit
    position: relative
    display: inline-block
    cursor: default

    &:nth-child(even)
      @media (min-width: 651px) and (max-width: 1000px)
        margin-left: 5%

    @media (min-width: 651px) and (max-width: 1000px)
      width: 46% !important
      float: left

    @media (max-width: 650px)
      width: 95% !important



    .skill-icon
      +position(absolute, 0 null null 0)
      display: inline-block
      height: 100%
      background: #252527 url(../img/backgrounds/alternate-bg.png)
      border-radius: 50%

      svg
        +position(absolute, 0 null null 0)

      path, polygon
        fill: $accent

    .skill-label
      font-family: 'Source-Sans-Pro-Semibold', sans-serif
      text-align: left
      color: #000
      white-space: nowrap
      overflow: hidden
      text-overflow: ellipsis





