.section-blog
  overflow: auto

  .post-section

    .post-link
      font-size: 30px
      margin: 10px 0

    .post-meta
      font-size: 14px
      opacity: .8

    .post-excerpt
      padding: 5px 0 40px 0

  .loader
    margin: 0 auto