.section-contact
  text-align: center
  overflow-y: auto

  .mailto-button
    display: none
    margin-top: 20px
    @extend .hire-button
    @extend .const-button
    margin-bottom: 40px


    @media (max-width: 1000px)
      display: block
      margin-bottom: 80px

  .contact-text
    display: none
    font-size: 1.2rem
    text-align: left
    font-weight: 300

    @media (max-width: 1000px)
      display: block

    a
      color: #333
      font-weight: 400

  .awesome-form
    text-align: left

    @media (max-width: 1000px)
      display: none

  .section-title
    border-bottom: 0
    margin-bottom: 20px

  .spacer
    height: 40px

  textarea
    +transition(height .5s ease, overflow 1s 2s ease)
    height: 22px
    overflow: hidden

    &:focus, &.has-value
      height: 80px

  input, textarea
    display: block
    width: 100%

    &:focus,
    &:active
      outline: none

    &[type="text"],
    &[type="email"], &.textarea
      border: solid 2px #343435
      color: #343435
      padding: 15px 40px
      font-size: 18px
      background: none
      border: none
      border-bottom: solid 2px #343435

  button
    margin-top: 20px
    margin-bottom: 50px
    height: 101px
    line-height: 101px
    width: 100%
    background: #252527
    text-align: center

    &:hover, &:focus
      color: #fff
      background: #343435

    &:hover svg path
      fill: #fff

    svg
      +size(32px 32px)
      margin-left: 10px
      position: relative
      top: 8px
      path
        +transition(fill .2s ease)
        fill: #ccc



  .input-group
    display: inline-block
    margin-right: 20px
    position: relative
    width: 100%

    input, textarea
      padding: 15px 0px

    label
      +position(absolute, 50% null null 0px)
      +transform(translateY(-50%))
      font-size: 18px
      color: #999
      pointer-events: none
      +transition

    input:focus + label, textarea:focus + label, textarea.has-value + label,
    input.has-value + label
      top: -10px
      font-size: 12px
      color: #aaa



