.section-contact
  text-align: center
  overflow-y: auto

  .mailto-button
    +at-large-screen
      display: none

  .poster
    background-position-y: -50px

  .container
    +at-large-screen
      margin-top: -200px
      position: relative

  .contact-text
    display: none
    text-align: left
    font-weight: 300

    +at-small-screen
      display: block

    a
      @extend .intext-link

  .awesome-form
    text-align: left

    +at-small-screen
      display: none

  .section-title
    +at-large-screen
      border-bottom: 2px solid transparent


  textarea
    +transition(height .5s ease, overflow 1s 2s ease)
    +box-sizing(content-box)
    height: 22px
    overflow: hidden
    resize: none
    border-bottom: 2px solid $bg-color-light !important

  #auto-height-hidden-div
    display: none
    white-space: pre-wrap
    word-wrap: break-word
    overflow-wrap: break-word
    overflow: hidden

  input, textarea
    display: inline-block
    width: 100%
    cursor: text

    &:focus,
    &:active
      outline: none

    &[type="text"],
    &[type="email"], &.textarea
      color: $bg-color-light
      background: none
      border: none

      &:hover ~ label
        color: #666

  .input-group
    position: relative
    +transition(height .5s ease)

    &:after
      content: ''
      +position(absolute, null null 0 0)
      +size(100% 2px)
      background: $bg-color-light

    &.textarea-wrapper
      &:after
        display: none


    label
      cursor: text
      +position(absolute, 50% null null 0px)
      +transform(translateY(-50%))
      color: #999
      pointer-events: none
      +transition




