.section-expirience
  background-image: url(../img/bg_main_decor.png)

  h3
    margin-top: 0
    padding-top: 100px

.exp-belt
  width: 750px
  +center-trans
  min-height: 250px

  .exp-unit
    max-width: 750px
    min-height: 250px
    position: relative
    z-index: 1
    display: none
    opacity: 0

    &.active-exp-tab
      +display(flex)
      height: auto
      opacity: 1

    .exp-animation
      min-width: 300px
      text-align: center
      margin: 0

      .client-name
        display: block
        text-transform: uppercase
        font-weight: 400
        letter-spacing: 1px

      .client-title
        font-style: normal
        font-size: 12px
        color: #999

    .exp-content
      font-size: 18px
      font-weight: 300
      margin-top: 86px
      position: relative
      background: white
      border: 2px solid #ccc
      border-top: none
      height: 366px
      border-radius: 4px
      border-top-left-radius: 0
      border-top-right-radius: 0
      padding: 60px 40px 0
      +box-sizing(border-box)


      .caption
        text-indent: 27px

      .icon-gear
        +position(absolute, 38px null null 40px)
        +size(70px)
        font-size: 70px
        color: #aaa
        opacity: 0.3

        path
          fill: #aaa

      p
        line-height: 32px
        margin-top: 48px

      a
        color: #666
        border-bottom: 2px solid #999
        +transition

        &:hover
          border-bottom: 2px solid #333


// Logos
.exp-nav
  z-index: 100
  +position(absolute, null 50% 50% null)
  width: 450px
  padding: 0
  margin: 0 -375px 135px 0
  z-index: 100
  text-align: justify
  cursor: default
  +user-select(none)

  &:after
    display: inline-block
    content: ""
    width: 100%

  .exp-tab
    display: inline-block
    padding: 0
    height: 50px !important
    width: 16.666666% !important
    float: left
    background:
      color: transparent
    font:
      size: 14px
      weight: 700
    border-radius: 0 !important
    text-align: center
    line-height: 52px
    position: relative
    +user-select(none)
    border-bottom: 2px solid #ccc
    color: #999
    cursor: pointer
    overflow: hidden

    &:after
      content: ""
      +size(100%)
      +box-sizing(border-box)
      background: #fff
      +position(absolute, null 0px 0px null)
      z-index: -1
      border: 2px solid #ccc
      border-bottom: none
      border-radius: 4px
      border-bottom-left-radius: 0
      border-bottom-right-radius: 0
      z-index: -1
      +transition(transform .4s cubic-bezier(0.7,0,0.3,1))
      +transform(perspective(150px) rotate3d(1,0,0,90deg))
      +transform-origin(50% 100%)
      +perspective-origin(50% 100%)

    &:hover
      color: #333

    &.active-exp-tab
      border-bottom: 2px solid rgba(0,0,0,0)
      color: #424242
      position: relative
      top: 2px

      &:after
        +transform(perspective(900px) rotate3d(1,0,0,0deg))

      span
        position: relative
        top: -2px
        font-size: 16px

    span
      display: inline-block
      +size(100%)
      +transition(font-size .0s .3s)

// Mobile
$ratio: 320 / 568
$height: 400px

.exp-animation
  position: relative
  +size(240px 486px)
  background:
    image: url(../img/clients/phone.png)
    repeat: no-repeat
    size: contain

  .wrap
    +position(absolute, 47px null null 15px)
    +size(209px 372px)
    overflow: hidden
    border-radius: 3px !important

  .phone-screen
    & *, & *:before, & *:after
      +box-sizing(border-box)

@media (max-width: 750px)
  .exp-nav
    +flex-wrap(wrap)

  .exp-animation
    display: none

  .exp-belt
    overflow-x: hidden

    .exp-unit.active-exp-tab
      display: block
      position: relative
      margin-left: 0px
      left: auto

      .exp-animation
        margin-bottom: 30px

      .exp-content
        padding: 0px 30px
        max-width: 400px
        margin: 0px auto

      .icon-gear
        left: 6px

  .client-controls
    display: none

  .exp-nav
    display: none

  .exp-mobile-nav
    display: block







