footer
  @extend %background-image
  background-image: url(../img/#{$logo-path}), url(../img/#{$hero-path})
  background-position: calc(100% - 30px), right

  .lockup
    padding: 50px 30px
    +clearfix

    .content-wrap
      float: left
      margin-left: 80px
      position: relative

      &:before
        content: ""
        +position(absolute, -10px null null -70px)
        +size(60px 51px)
        background-image:  url(../img/#{$logo-path})
        background-position: 188px 0

      .copyright
        margin: 0
        text-transform: uppercase
        font-size: 12px
        color: #c1bebb

      a
        @extend %small-bold
        color: #c1bebb
        display: inline-block
        margin-right: 30px

        &:hover
          color: white


@media (max-width: 720px)

  footer
    background:
      position: center 20px, left
      size: 268px auto, cover

    .lockup
      padding-bottom: 10px

      .content-wrap
        width: 100%
        margin: 30px auto 0
        text-align: center

        a
          display: block
          width: auto
          margin: 0 0 5px 0

        .copyright
          margin-top: 14px

  .content-wrap:before
    display: none