.section-work

  &
    overflow-x: hidden

    &.section-active .thumb-unit
      opacity: 1 !important


.work-belt
  +size(200% 100%)
  +position(relative, null null null 0)
  +transition(all, 800ms)

  &.slided
    +transform(translate3d(-50%, 0, 0))

.thumb-wrap-shift
  +size(100%)
  overflow: auto
  padding-right: 20px
  +box-sizing(content-box)

  @media (max-width: 1000px)
    padding-right: 0

.thumb-wrap, .work-wrap
  position: relative
  width: 50%
  float: left
  overflow-y: scroll

.thumb-wrap
  overflow: hidden

.thumb-container
  position: relative
  margin: 0 auto
  max-width: 920px
  text-align: justify
  +clearfix


  .thumb-unit
    display: block
    position: relative
    width: 100%
    border-radius: 2px
    cursor: pointer
    box-shadow: rgba(0, 0, 0, 0.227451) 0px 3px 10px 0px, rgba(0, 0, 0, 0.156863) 0px 3px 10px 0px

    &:hover
      .unit-title
        opacity: 1

    .img-wrap
      width: 100%
      height: 0
      position: relative
      border-radius: 3px
      +backface-visibility(hidden)
      +transition(all .3s ease)
      overflow: hidden

      @media (max-width: 1000px)
        padding-bottom: 50%

      &:after
        content: ""
        +position(absolute, 0 null null 0)
        +size(100%)
        opacity: 0
        background: rgba(0, 0, 0, .25)
        +transition(all .3s ease)

      img
        width: 100%
        +transition(all .3s ease)

    .unit-title
      +position(absolute, 50% null null 50%)
      opacity: 0
      +transition(opacity .3s ease)
      +transform(translate(-50%, -50%))
      box-shadow: 0 6px 10px rgba(0,0,0,.23),0 10px 30px rgba(0,0,0,.19)

      svg
        +size(20px)
        +position(absolute, 50% 33px null null)
        +transform(translate(50%, -50%))

      @media (max-width: 1000px)
        opacity: 1
        padding-right: 44px !important

        svg
          right: 24px
          +size(16px)


.work-container
  position: relative

  .work-center-container
    position: relative
    max-width: 920px
    padding: 0 40px

    .work-return
      float: left

    @media (max-width: 1000px)
      margin-top: 0
      padding: 0

      .work-return
        display: none !important

  .project-load
    z-index: $z-level2
    position: relative
    background: #fff
    +transition(all .5s ease)

    &.loaded
      box-shadow: rgba(0, 0, 0, 0.227451) 0px 3px 10px 0px, rgba(0, 0, 0, 0.156863) 0px 3px 10px 0px

    p, img
      margin: 0
      padding: 0
      display: block
      width: 100%

    img
      cursor: default





  .project-title
    position: relative
    @media (max-width: 1000px)
      padding: 0 70px  0 0
      border: 0

    a.project-url
      float: right

      &[href='#']
        display: none

      @media (max-width: 1000px)
        +position(absolute, 50% 0 null null)
        +transform(translate(0, -50%))

        svg
          +size(16px)

  .icon-button
    border-radius: 50%
    overflow: hidden
