.section-work
  overflow-x: hidden
  background: $bgcolor url(../img/#{$alternate-path})

  h3
    margin: 0
    padding: 9px
    margin-bottom: 50px

/* Hackey-type CSS as a jQuery Alternative for when the browser does not have jQuery enabled. */
.noscript
  display: none

@each $proj in $projects
  ##{$proj}:checked ~ .work-belt .work-wrap .work-container noscript #content-#{$proj}
    display: block

.return
  display: none

.trigger
  display: none

  &:checked ~ .work-belt
    left: -100%

    .work-wrap .work-container
      display: block
/* End of gross / hackey CSS */

.work-belt
  width: 200%
  height: 100%
  position: relative
  left: 0%
  +transition(all, 800ms)

  &.slided
    +transform(translate3d(-50%, 0, 0))

.thumb-wrap, .work-wrap
  position: relative
  width: 50%
  float: left
  min-height: 100%

  .blink1, .blink2
    +position(fixed, 0 null null 0)
    +size(9px)
    background: #444
    opacity: 0

    &.animated
      +animation(pixel_blink 1.2s ease forwards)

.thumb-container
  @extend %center-container
  position: absolute
  top: 50%
  left: 50%
  width: 852px
  +size(834px 594px)
  +transform(translate(-50%, -50%))
  +clearfix


  .thumb-unit
    +transition(.6s ease-in-out)
    display: block
    +size(266px 186px)
    float: left
    position: absolute
    overflow: hidden
    +box-sizing(border-box)
    padding: 3px
    background: #ccc
    background:
      position: center top
      repeat: no-repeat


    &[data-position = "1"]
      +position(absolute, 0 null null 0)

    &[data-position = "2"]
      +position(absolute, 0 null null 284px)

    &[data-position = "3"]
      +position(absolute, 0 null null 568px)

    &[data-position = "4"]
      +position(absolute, 204px null null 568px)

    &[data-position = "5"]
      +position(absolute, 204px null null 284px)

    &[data-position = "6"]
      +position(absolute, 204px null null 0)

    &[data-position = "7"]
      +position(absolute, 408px null null 0)

    &[data-position = "8"]
      +position(absolute, 408px null null 284px)

    &[data-position = "9"]
      +position(absolute, 408px null null 568px)

  .thumb-click-area
    position: relative
    +size(100%)
    overflow: hidden
    cursor: pointer

    &:hover img
      transform: translate3d(0,53px,0)

    img
      position: relative
      +backface-visibility(hidden)
      +transition(.3s ease)
      +size(100%)
      z-index: 20
      background-size: cover

    .unit-info
      +position(absolute, 0px null null 0px)
      +size(100% 53px)
      z-index: 10
      text-align: left
      line-height: 53px
      color: white
      font-size: 18px

      &:before
        position: relative
        float: right
        line-height: 50px
        font-size: 32px
        margin-right: 15px
        cursor: pointer
        color: #333
        +user-select(none)

    .unit-title
      margin: 8px 0 0 20px
      color: #222
      float: left
      font-weight: 700
      font-family: Arial
      line-height: 18px


    .live-url
      position: relative
      +user-select(none)
      top: -1px
      border-bottom: 1px solid #777
      font:
        size: 14px
        weight: 300
      color: #777
      +transition(border-color .3s, opacity .5s ease)

      &:hover
        color: #000






.work-container
  max-width: 600px
  margin: 100px auto 0
  padding: 0 15px
  +box-sizing(border-box)

  position: relative
  display: none

  .project-load
    z-index: 10
    position: relative

  h4, noscript h4
    color: $accent
    font-weight: 300
    text-transform: uppercase
    font-size: 28px
    line-height: 1.2
    margin: 0 0 20px

  img
    max-width: 100%
    margin-bottom: 20px

  .work-return
    +size(40px)
    cursor: pointer
    opacity: 0.6
    +position(absolute, 0 null null -70px)
    +transform(rotateY(180deg))

    &:before
      content: "\f064"
      speak: none
      line-height: 1
      font:
        style: normal
        weight: normal
        variant: normal
        transform: none
        family: 'icomoon'
        size: 40px

      -webkit-font-smoothing: antialiased
      -moz-osx-font-smoothing: grayscale

    path
      fill: rgba(255,255,255,0.8)

    &:hover
      opacity: 1



@media (max-width: 740px)
  .thumb-container
    width: 100%
  .work-container

    .work-return
      left: 0px

    h4
      margin-left: 60px



+keyframes(pixel_blink)
  0%, 100%
    opacity: 0
  50%
    opacity: 1
