.ajax-section {

  & {
      @include size(100%);
      @include position(absolute, -1px null null 0px);
      overflow: hidden;
      border-radius: 3px;
      overflow: hidden;
      padding-top: 50px;
  }

  .search-result {
    position: absolute;
    width: 100%;
    height: 76px;
    opacity: 0;
    @include transform(translate3d(100%, 0, 0));

    .desc {
      @include size(100%);

      &:after, &:before, span {
        @include position(absolute, 25px null null 90px);
        content: "";
        @include size(100px 5px);
        background: #666;
      }

      &:before {
        top: 35px;
      }

      &:after {
        top: 45px;
        @include size(60px 5px);
      }
    }

    .title {
      @include size(100%);

      &:before {
        @include position(absolute, 5px null null 90px);
        content: "";
        @include size(30px 10px);
        background: #999;
      }

      &:after {
        @include position(absolute, 5px null null 130px);
        content: "";
        @include size(50px 10px);
        background: #999;
      }
    }

    .num {
      float: left;
      @include size(60px);
      font-size: 35px;
      margin: 0 0 0 15px;
      background: rgb(92, 92, 92);
      color: #aaa;
      border-radius: 50%;
      line-height: 60px;
      font-family: Monaco,'Courier New',monospace;
    }

    &.result1 {
      top: 66px;
      @include animation(showResult .3s 9.3s ease forwards);
    }

    &.result2 {
      top: 142px;
      @include animation(showResult .3s 9.6s ease forwards);
    }

    &.result3 {
      top: 218px;
      @include animation(showResult .3s 9.9s ease forwards);
    }

    &.result4 {
      top: 294px;
      @include animation(showResult .3s 10.2s ease forwards);
    }
  }

  .phone-loader {
    @include position(absolute, 50% null null 50%);
    @include size(70px);
    @include transform(translate(-50%, -60%));
    opacity: 0;

    @include animation(showLoader .3s 7.4s ease forwards, hideCursor .3s 9s ease forwards);
  }

  .cursor {
    @include size(1px 20px);
    @include position(absolute, 13px null null 37px);
    background: #aaa;
    opacity: 0;

    @include animation(blinkCursor 1s 1.2s infinite, cursorAnim steps(10) 3s 2.3s forwards, hideCursor .3s 7s ease forwards);
  }

  .word1 {
    @include size(0 15px);
    @include position(absolute, 15px null null 35px);
    background: #888;

    @include animation(word1anim .9s 2.3s steps(3) forwards);
  }

  .word2 {
    @include size(0 15px);
    @include position(absolute, 15px null null 75px);
    background: #888;

    @include animation(word2anim 1.8s 3.5s steps(6) forwards);
  }


  .phone-keyboard {
    @include transform(translate3d(0, 100%, 0));
    padding: 20px 6px;
    @include size(100% 200px);
    @include position(absolute, null -1px 50px null);
    background: #272727;
    z-index: 30;

    @include animation(showKeyboard .3s  1s ease forwards, hideKeyboard .3s 7s ease forwards);

    .key-opt {
      @include position(absolute, 23px null null 15px);
      @include size(25px);
      font-size: 30px;
      color: #777;
    }
    .key-enter {
      @include position(absolute, 18px 8px null null);
      @include size(40px);
      border-radius: 2px;

      &:before {
        content: "";
        opacity: 0;
        @include position(absolute, 50% 50% 50% 50%);
        background: #444;
        border-radius: 50%;
        @include animation(pressKey .8s  6s ease forwards);
      }


      svg {
        @include size(25px);
        @include position(absolute, 7px 4px null null);
      }
    }

    .key {
      display: inline-block;
      margin: 3px 1px;
      @include size(17px 30px);
      border-radius: 2px;
      background: #585858;
      position: relative;

      &.press {

        & {
          overflow: hidden;
        }

        &:before {
          content: "";
          opacity: 0;
          @include position(absolute, 50% 50% 50% 50%);
          background: #aaa;
          border-radius: 3px;
        }

        @for $i from 1 through 10 {
          &.press#{$i}:before {
            @include animation(pressKey .3s  #{ 2s + $i * .3s} ease forwards);
          }
        }

      }


      &.space {
        width: 61px;
      }
    }

  }

  .phone-header {
    @include position(absolute, 12px null null 162px);
    @include size(29px);
    border-radius: 50%;
    background: #ddd;
    z-index: 3;

    .icon-search {
      @include transform(rotateY(180deg));
      @include position(absolute, 4px null null -153px);
      font-size: 20px;
      color: #737373;
    }

    &:before {
      content: "";
      @include position(absolute, 23px 47px null null);
      @include size(113px 0px);
      border-radius: 0;
      background: transparent;
      box-shadow: 0 0 0 1px #797979;
    }
  }

  .phone-header .phone-menu, .phone-header .phone-menu:after, .phone-header .phone-menu:before {
    background: #333;
  }

  .phone-header .phone-menu {
    @include position(absolute, 9px 7px null null);
    @include size(15px 2px);
    background: #292929;

    &:before {
      content: "";
      @include position(absolute, 5px 0px null null);
      @include size(15px 2px);
      background: #292929;
    }

    &:after {
      content: "";
      @include size(15px 2px);
      @include position(absolute, 10px 0px null null);
      background: #292929;
    }
  }

  .phone-post {
    @include size(50% 66px);
    padding: 12px 10px 15px;
    overflow: visible;
    display: inline-block;
    float: left;
    z-index: 2;
    opacity: .5;
    position: relative;

    @include animation(hidePosts .3s 7s ease forwards);

    &:nth-child(odd) {
      left: -5px;
    }

    &:nth-child(2), &:nth-child(3) {
      display: none;
    }

    &:nth-child(12), &:nth-child(13)  {
      &:after {
        display: none;
      }
    }

    &:after {
      content: "";
      @include size(300px 2px);
      @include position(absolute, null null 6px 0px );
      background: #62605d;
    }

    .post-thumb {
      @include size(29px);
      background: #b0b0b0;
      position: absolute;
      margin-right: 5px;
      border-radius: 50%;
    }

     // Posts thumbs selectors
    @for $i from 1 through length($post-thumb-colors) {
      &:nth-child(#{$i + 3}) .post-thumb {
        background: nth($post-thumb-colors, $i);
      }
    }

    // Lines and titles
    %post-title {
      height: 4px;
      margin-top: 3px;
      background: #fff;
      position: absolute;
    }
    .post-title-1 {
      @extend %post-title;
      width: 14px;
      left: 45px;
    }
    .post-title-2 {
      @extend %post-title;
      width: 26px;
      left: 64px;
    }
    %post-line {
      height: 4px;
      background: #b0b0b0;
      position: absolute;
      left: 45px;
    }
    .post-line-1 {
      width: 52px;
      top: 25px;
      @extend %post-line;
    }
    .post-line-2 {
      width: 47px;
      top: 33px;
      @extend %post-line;
    }
  }
}



@include keyframes(pressKey) {
  0% {
    @include position(absolute, 50% 50% 50% 50%);
    opacity: 0;
  }

  50% {
    @include position(absolute, 0 0 0 0);
    opacity: 1;
  }

  100% {
    @include position(absolute, 0 0 0 0);
    opacity: 0;
  }

}

@include keyframes(word1anim) {

  0%   { width: 0;    }

  100% { width: 30px; }

}

@include keyframes(word2anim) {

  0%    {  width: 0;    }

  100%  {  width: 60px; }

}

@include keyframes(cursorAnim) {

  0%    {  @include transform(translate3d(0, 0, 0)) }

  100%  {  @include transform(translate3d(100px, 0, 0)) }

}

@include keyframes( blinkCursor ) {
  0% { opacity: 0; }
  50% { opacity: 1; }
  100% { opacity: 0; }
}


@include keyframes( showKeyboard ) {
  0% {
    @include transform(translate3d(0, 100%, 0));
    opacity: 0;
  }
  100% {
    @include transform(translate3d(0, 0, 0));
    opacity: 1;
  }
}

@include keyframes( hideKeyboard ) {
  0% {
    @include transform(translate3d(0, 0, 0));
    opacity: 1;
  }
  100% {
    @include transform(translate3d(0, 100%, 0));
    opacity: 0;
  }
}

@include keyframes( hidePosts ) {
  0% { opacity: .5; }
  100% { opacity: 0; }
}

@include keyframes( showLoader ) {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@include keyframes( hideCursor ) {
  100% { visibility: hidden; }
}

@include keyframes( showResult ) {
  0% {
    @include transform(translate3d(100%, 0, 0));
    opacity: 0;
  }
  100% {
    @include transform(translate3d(0, 0, 0));
    opacity: 1;
  }
}