.css-section {

  & {
      @include size(100%);
      @include position(absolute, -1px null null 0px);
      overflow: hidden;
      border-radius: 3px;
      padding-top: 34px;
      @include animation(screenPadding .6s .5s forwards);
  }

  .phone-header {
    @include position(absolute, 1px null null null);
    @include size(100% 30px);
    background: #ddd;
    z-index: 3;
    color: white;
    border-radius: 3px;


    @include animation( headerResize .7s .9s ease forwards, headerRadius .3s 3.6s ease forwards, headerColor .4s .5s, ease forwards );
    @include animation-timing-function( ease );
    @include animation-fill-mode( forwards );

    .icon-search {
      @include position(absolute, 6px null null 7px);
      color: #6f6f6f;
      font-size: 16px;

      @include animation(headerTitleShift1 .6s .94s forwards);
    }

    &:before {
      content: "";
      @include position(absolute, 7px 36px null null);
      @include size(142px 16px);
      border-radius: 2px;
      box-shadow: 0 0 0 2px #bbb;
      background: #eee;

      @include animation(headerTitleShift2 .6s .44s+.5s forwards);
    }
  }

  .phone-header .phone-menu, .phone-header .phone-menu:after, .phone-header .phone-menu:before {
    @include animation(menuColor .2s 1.1s+.5s ease forwards);
  }
  .phone-header .phone-menu {
    @include position(absolute, 9px 10px null null);
    @include size(15px 2px);
    @include animation(menuBarsShift .5s .5s+.5s forwards);
    background: #292929;

    &:before {
      content: "";
      @include position(absolute, 5px 0px null null);
      @include size(15px 2px);
      background: #292929;
    }

    &:after {
      content: "";
      @include position(absolute, 10px 0px null null);
      @include size(15px 2px);
      background: #292929;
    }
  }

  .phone-post {
    @include size(100% 60px);
    padding: 12px 10px 15px;
    display: inline-block;
    position: relative;
    overflow: visible;
    float: left;
    z-index: 2;
    opacity: .5;

    &:nth-child(2), &:nth-child(3) {
      display: none;
    }

    &:nth-child(12), &:nth-child(13)  {
      &:after {
        display: none;
      }
    }

    &:nth-child(odd) {
      @include animation(postDimentions .5s 2.5s forwards, oddPostShift .3s 3s forwards);
    }

    &:nth-child(even) {
      @include animation(postDimentions .5s 2.5s forwards);
    }

    &:after {
      content: "";
      @include position(absolute, null null 3px 0px);
      @include size(300px 2px);
      background: #62605d;
      @include animation(barShift 1s 2s+.5s forwards);
    }

    .post-thumb {
      @include size(29px);
      background: #b0b0b0;
      position: absolute;
      margin-right: 5px;
      border-radius: 2px;
    }

    $last: 1;
    @for $i from 1 through length($post-thumb-colors) {
      @if $i - $last == 1 {
        $multiply: $i - 1 !global;
      } @else {
        $multiply: $i !global;
        $last: $i;
      }
      &:nth-child(#{$i + 3}) .post-thumb {
        @include animation(change-color#{$i} .6s #{$multiply * .25s + 4.4s} forwards, thumbBorderRadius .5s 3.6s ease forwards);
      }
    }

    // Lines and titles
    %post-title {
      height: 4px;
      margin-top: 3px;
      background: #fff;
      position: absolute;
    }
    .post-title-1 {
      @extend %post-title;
      width: 14px;
      left: 45px;
    }
    .post-title-2 {
      @extend %post-title;
      width: 26px;
      left: 64px;
    }
    %post-line {
      height: 4px;
      background: #b0b0b0;
      position: absolute;
      left: 45px;
    }
    .post-line-1 {
      width: 150px;
      top: 25px;
      @extend %post-line;
      @include animation(changeLineWidth1 1s 1.7s+.5s forwards);
    }
    .post-line-2 {
      width: 100px;
      top: 33px;
      @extend %post-line;
      @include animation(changeLineWidth2 1s 1.7s+.5s forwards);
    }
  }
}


// KEYFRAMES

// Screen animations
@include keyframes( screenPadding ) {
  0% {padding-top: 34px;}
  100% {padding-top: 50px;}
}

// Header Animations
@include keyframes( headerResize ) {
  0% {width: 100%; height: 30px; left: 0; top: 1px;}
  100% {width: 29px; height: 29px; left: 162px; top: 12px;}
}

@include keyframes( headerRadius ) {
  0% {border-radius: 0; background: #ddd;}
  100% {border-radius: 50%; background: #292929;}
}

@include keyframes( headerColor ) {
  0% { background: #ddd;}
  100% { background: #ddd;}
}

@include keyframes( headerTitleShift1 ) {
  0% {
    @include transform(rotateY(0deg));
    left: 7px;
    top: 6px;
    font-size: 16px;
    color: #6f6f6f;
  }
  100% {
    @include transform(rotateY(180deg));
    left: -153px;
    top: 4px;
    font-size: 20px;
    color: #737373;
  }
}

@include keyframes( headerTitleShift2 ) {
  0% { right: 36px; @include size(142px 16px); top: 7px; border-radius: 2px; background: #eee; box-shadow: 0 0 0 2px #bbb; }
  100% { right: 47px; @include size(113px 0px); top: 23px; border-radius: 0; background: transparent; box-shadow: 0 0 0 1px #797979; }
}


// Menu animations
@include keyframes( menuColor ) {
  0% { background: #292929; }
  100% { background: #333; }
}

@include keyframes( menuBarsShift ) {
  0% { right: 10px; }
  100% { right: 7px; }
}

// Separator animation
@include keyframes( barShift ) {
  0% { bottom: 3px; }
  100% { bottom: 6px; }
}

// Lines Animation
@include keyframes( changeLineWidth1 ) {
  0% { width: 150px; }
  100% { width: 52px; }
}

@include keyframes( changeLineWidth2 ) {
  0% { width: 100px; }
  100% { width: 47px; }
}

// Posts animations
@include keyframes( postDimentions ) {
  0% { @include size(100% 60px); }
  100% { @include size(50% 66px); }
}

@include keyframes( oddPostShift ) {
  0% { left: 0; }
  100% { left: -5px }
}

// Thumbs border animation
@include keyframes( thumbBorderRadius ) {
  0% { border-radius: 3px; }
  100% { border-radius: 50%; }
}

// Thumbs color animation
@for $i from 1 through length($post-thumb-colors) {
    @include keyframes( change-color#{$i} ) {
      0% {background: #797979; }
      100% {background: nth($post-thumb-colors, $i);}
    }
}



