.html-section {

  .phone-screen {
    @include size(100%);
    @include position(absolute, -1px null null 0px);
    overflow: hidden;
  }

  .phone-header {
    @include size(100% 30px);
    background: #ddd;
    position: relative;
    z-index: 3;
    color: white;
    border-radius: 3px;

    .icon-search {
      @include position(absolute, 6px null null 7px);

      &:before {
        font-size: 16px;
        color: rgba(0,0,0,.5);
      }
    }

    &:before {
      content: "";
      @include size(142px 16px);
      @include position(absolute, 7px 36px null null);
      border-radius: 2px;
      box-shadow: 0 0 0 2px #bbb;
      background: #eee;
    }
  }

  .phone-header .phone-menu {
    @include position(absolute, 9px 10px null null);
    @include size(15px 2px);
    background: #000;

    &:before {
      content: "";
      @include size(15px 2px);
      @include position(absolute, 5px 0px null null);
      background: #000;
    }
    &:after {
      content: "";
      @include size(15px 2px);
      @include position(absolute, 10px 0px null null);
      background: #000;
    }
  }

  .phone-post {
    position: relative;
    padding: 15px 10px;
    border-bottom: 2px solid #62605d;
    overflow: hidden;
    height: 60px;
    z-index: 2;
    opacity: .5;
    @include transform(translateY(-60px));

    &.active {
      @include animation(new-post 1s ease forwards);
    }
  }

  .phone-post .post-thumb {
    @include size(29px);
    background: #b0b0b0;
    position: absolute;
    margin-right: 5px;
    border-radius: 2px;
  }
  %post-title {
    height: 4px;
    margin-top: 3px;
    background: #fff;
    position: absolute;
  }
  .post-title-1 {
    @extend %post-title;
    width: 14px;
    left: 45px;
  }
  .post-title-2 {
    @extend %post-title;
    width: 26px;
    left: 64px;
  }
  %post-line {
    height: 4px;
    background: #b0b0b0;
    position: absolute;
    left: 45px;
  }
  .post-line-1 {
    width: 150px;
    top: 28px;
    @extend %post-line;
  }
  .post-line-2 {
    width: 100px;
    top: 36px;
    @extend %post-line;
  }

  #first-post .line {
    width: 0;
  }

  #first-post.active {
    .post-thumb {
      @include transform(scale(0));
      @include animation(box-grow 700ms ease 700ms forwards);
    }
    .line {
      transition: width 500ms 600ms ease;
    }
    .post-title-1 {
        width: 14px;
    }
    .post-title-2 {
        width: 26px;
    }
    .post-line-1 {
        width: 150px;
    }
    .post-line-2 {
        width: 100px;
    }
  }

  @include keyframes( new-post ) {
    0% {
      @include transform(translateY(-100%));
    }
    100% {
      @include transform(translateY(0px));
    }
  }

  @include keyframes(box-grow) {
    0% {
      @include transform(scale(0) rotate(25deg));
    }
    60% {
      @include transform(scale(1.2) rotate(-10deg));
    }
    100% {
      @include transform(scale(1) rotate(0));
    }
  }
}
