.svg-section {

  .path {
    stroke-dasharray: 20000;
    stroke-dashoffset: 20000;

    @for $i from 1 through length($post-thumb-colors) {
      &.path#{$i} {
        @include animation(dash 3s #{ $i * .3s + 1.7s}  linear forwards);
      }
    }

  }

  @include keyframes(dash) {
    from {
      stroke-dashoffset: 20000;
    }
    to {
      stroke-dashoffset: 0;
    }
  }

  @include keyframes(toSquare) {
    from {
      border-radius: 50%;
      outline-color: #424242;
    }
    to {
      border-radius: 0;
      background: #424242;
    }
  }

  @include keyframes(toSquare2) {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .phone-post {
    @for $i from 1 through length($post-thumb-colors) {
      &:nth-child(#{$i + 3}) .post-thumb:before {
        background: nth($post-thumb-colors, $i);
      }
      &:nth-child(#{$i + 3}) .post-thumb:after {
        border-color: nth($post-thumb-colors, $i);
      }
    }
  }

  .post-thumb {
    background: none !important;

    &:before {
      content: "";
      @include size(100%);
      border-radius: 50%;
      @include position(absolute, 0 null null 0);

      @include animation(toSquare .8s 1s linear forwards);
    }

    &:after {
      content: "";
      opacity: 0;
      @include size(100%);
      border-radius: 3px;
      @include position(absolute, 0 null null 0);

      @include animation(toSquare2 .8s 1s linear forwards);
      border-width: 2px;
      border-style: solid;
    }
  }

  svg {
    opacity: 0;
    position: relative;
    top: 1px;
    left: 1px;

    @include animation(showLoader .3s 2s ease forwards);
  }

  & {
      @include size(100%);
      @include position(absolute, -1px null null 0px);
      overflow: hidden;
      border-radius: 3px;
      overflow: hidden;
      padding-top: 50px;
  }

  .phone-header {
    @include position(absolute, 12px null null 162px);
    @include size(29px);
    border-radius: 50%;
    background: #ddd;
    z-index: 3;

    .icon-search {
      @include transform(rotateY(180deg));
      @include position(absolute, 4px null null -153px);
      font-size: 20px;
      color: #737373;
    }

    &:before {
      content: "";
      @include position(absolute, 23px 47px null null);
      @include size(113px 0px);
      border-radius: 0;
      background: transparent;
      box-shadow: 0 0 0 1px #797979;
    }
  }

  .phone-header .phone-menu, .phone-header .phone-menu:after, .phone-header .phone-menu:before {
    background: #333;
  }

  .phone-header .phone-menu {
    @include position(absolute, 9px 7px null null);
    @include size(15px 2px);
    background: #292929;

    &:before {
      content: "";
      @include position(absolute, 5px 0px null null);
      @include size(15px 2px);
      background: #292929;
    }

    &:after {
      content: "";
      @include size(15px 2px);
      @include position(absolute, 10px 0px null null);
      background: #292929;
    }
  }

  .phone-post {
    @include size(50% 66px);
    padding: 12px 10px 15px;
    overflow: visible;
    display: inline-block;
    float: left;
    z-index: 2;
    opacity: .5;
    position: relative;

    &:nth-child(odd) {
      left: -5px;
    }

    &:nth-child(2), &:nth-child(3) {
      display: none;
    }

    &:nth-child(12), &:nth-child(13)  {
      &:after {
        display: none;
      }
    }

    &:after {
      content: "";
      @include size(300px 2px);
      @include position(absolute, null null 6px 0px );
      background: #62605d;
    }

    .post-thumb {
      @include size(29px);
      background: #b0b0b0;
      position: absolute;
      margin-right: 5px;
      border-radius: 50%;
    }

     // Posts thumbs selectors
    @for $i from 1 through length($post-thumb-colors) {
      &:nth-child(#{$i + 3}) .post-thumb {
        background: nth($post-thumb-colors, $i);
      }
    }

    // Lines and titles
    %post-title {
      height: 4px;
      margin-top: 3px;
      background: #fff;
      position: absolute;
    }
    .post-title-1 {
      @extend %post-title;
      width: 14px;
      left: 45px;
    }
    .post-title-2 {
      @extend %post-title;
      width: 26px;
      left: 64px;
    }
    %post-line {
      height: 4px;
      background: #b0b0b0;
      position: absolute;
      left: 45px;
    }
    .post-line-1 {
      width: 52px;
      top: 25px;
      @extend %post-line;
    }
    .post-line-2 {
      width: 47px;
      top: 33px;
      @extend %post-line;
    }
  }
}