<section class="section-blog full-screen-block" id="blog">


  <div class="blog-belt">


    <div class="preview-container">


      <div class="preview-container-shift">

        <div class="poster" data-images-number='4'></div>

        <div class="container">

          <div id="blog-posts" data-cat='web' class="en"
            data-pager-number="{{ site.paginate }}"
            data-total-number="{{ site.posts | size }}">


            <h1 class="section-title post-list-title">
              {{ site.data.settings_en.section-titles.blog }}

              <div class="category-select-wrap" id="cat-sel">
                <div class="day select-dropdown">
                  <article>
                    <dl class="dropy">
                      <dt class="dropy__title">
                        <span class="tit">web-design</span>
                        <span class="hsh"></span>
                        <span class="tri icon-expand-more"></span>
                      </dt>
                      <dd class="dropy__content">
                        <ul>
                          {% for category in site.data.settings_en.categories %}
                            <li data-cat='{{ category.hash }}'>{{ category.name }}</li>
                          {% endfor %}
                        </ul>
                        <div class="cross">×</div>
                      </dd>
                      <input type="hidden" name="first">
                    </dl>
                  </article>
                </div>
              </div>
            </h1>

            <div class="post-section">



                  {% for post in site.posts limit: 5 %}

                    {% capture lang %}{{ post.categories | first }} {% endcapture %}

                    {% if lang == 'en ' %}

                      {% capture time %} {{ post.date | date: "%B %-d, %Y" }} {% endcapture %}

                        <div class="post-preview lang-{{ post.categories | first }} cat-{{ post.categories | last }}
                        {% for tag in post.tags %} tag-{{ tag }} {% endfor %} " data-url="{{ post.url }}" data-date='{{ time }}' data-poster='{{ post.poster }}' data-name="{{ post.title }}">

                          <div class="preview-head">
                            <h2 class="post-name"><span>{{ post.title }}</span></h2>
                            <img src="../blog-avas/{{ post.ava }}" width="104" height="104" alt="" class="ava">
                            <span class="post-meta">
                              <span class="time">{{ time }}</span>
                              {% for tag in post.tags %}
                                <span class="hashtag">{{ tag }}</span>
                              {% endfor %}
                            </span>
                          </div>

                          <div class="post-excerpt">
                            {{ post.excerpt }}...
                            <span class="post-link intext-link">
                              Read this post →
                            </span>
                          </div>


                        </div>


                    {% endif %}



                  {% endfor %}
            </div>

            <div class="no-more">No more posts</div>
          </div>

          <div id="ccc" hidden></div>

        </div>

      </div>

    </div>

    <div class="post-container">
      <div class="poster post-poster"></div>
      <div class="container">
         <h4 class="post-title section-title">
          <span class="blog-return">← Read other posts</span>
          <span class="date"></span>
          <span class="title-text"></span>
         </h4>

         <div class="post-content">
            <!-- Post content goes here -->
         </div>
      </div>
  </div>
  </div>



</section>