<section class="section-expirience full-screen-block" id="experience">

    <div class="poster exp"></div>

    <div class="container">

        <!-- Heading -->
        <h1 class="section-title">{{ site.data.settings_en.section-titles.experience}}</h1>

        <!-- Animations -->
        <div class="exp-animation">
          <div class="exp-animation-wrap">
            <div class="wrap"></div>
          </div>
        </div>

        <!-- Navigation -->
        <div class="exp-nav">
          <nav class="select-skill">
            {% for exp in site.data.settings_en.exps %}
              {% if forloop.index == 1 %}
                <div  class="selected">
                  <div class="select-option selected-center checked"
                    data-file="{{ exp.file }}"
                    data-text="{{ exp.title }}"
                    data-index="{{ forloop.index }}">
                    <span>{{ exp.title }}</span>
                    <svg viewBox="0 0 15 11">
                        <use xlink:href="#icon-check"></use>
                    </svg>
                  </div>
                </div>
              {% endif %}
            {% endfor %}
            <ul>
              {% for exp in site.data.settings_en.exps %}
                {% if forloop.index > 1 %}
                  <li class=" select-option ripple-effect"
                    data-index="{{ forloop.index }}"
                    data-file="{{ exp.file }}">
                    {{ exp.title }}
                    <svg viewBox="0 0 15 11">
                        <use xlink:href="#icon-check"></use>
                    </svg>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </nav>
        </div>

        <!-- Text -->
        <div class="exp-unit-wrapper">
          {% for exp in site.data.settings_en.exps %}
            <div class="exp-unit">
              <div class="exp-content">
                <p>
                  {{ exp.quote }}
                </p>
              </div>
            </div>
          {% endfor %}
        </div>

    </div>

</section>